.card  {
  @include grid((1fr, auto), (20% auto), ($space-s $space-l));
  grid-template-areas: 
  "logo title"
  "logo kicks";
  align-content: center;

  padding: $space-l ($space-l * 2);
  margin: 3rem 0;
  background-color: $secondary-light;
  position: relative;
  border-radius: $corner;

  &::before {
    content: '';
    display: block;
    width: $space-l;
    background-color: $secondary;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: $corner 0 0 $corner;
  }

  &__logo {
    grid-area: logo;
    border-radius: 50%;
  }

  &__name {
    grid-area: title;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__kicks {
    @include flex ($justify: space-between);
    grid-area: kicks;
    align-self: end;

    & li {
      @include flex (column, center, center)
    }

    &-icon-container {
      @include flex(default, center, center);
      width: calc(5rem + 0.5vw);
      height: calc(5rem + 0.5vw);
      border: 3px solid $secondary;
      border-radius: 50%;
      margin-bottom: $space-s;
    }
  
    &-icon {
      font-size: calc(2rem + 0.5vw);
      color: $secondary;
    }

    &-count {
      font-weight: bold;
    }

  }

}