.card  {
  @include grid((1fr, auto), (20% auto), ($space-s $space-l));
  grid-template-areas: 
  "logo title"
  "logo kicks";
  align-content: center;

  padding: $space-m ($space-l * 2);
  margin: 3rem 0;
  background-color: $secondary-light;
  position: relative;
  border-radius: $corner;

  &::before {
    content: '';
    display: block;
    width: $space-l;
    background-color: $secondary;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: $corner 0 0 $corner;
  }

  &__logo {
    grid-area: logo;
    border-radius: 50%;
  }

  &__name {
    grid-area: title;
    font-size: calc(1.5rem + 0.5vw);
    font-weight: bold;
  }

  &__kicks {
    @include flex ($justify: space-between);
    grid-area: kicks;
    align-self: end;
    text-align: center;
    margin: 0 $space-s;

    & li {
      @include flex (column, center, center);
    }

    &-icon-container {
      @include flex(default, center, center);
      width: calc(4rem + 0.5vw);
      height: calc(4rem + 0.5vw);
      border: 3px solid $secondary;
      border-radius: 50%;
      margin-bottom: $space-s;
    }
  
    &-icon {
      font-size: calc(1.5rem + 0.5vw);
      color: $secondary;
    }

    &-count {
      font-weight: bold;
    }

  }

}

// MEDIA QUERIES
/* small tablet */
@media (max-width: 768px) {
  .card {
    grid-template-columns: 25% auto;
    padding: $space-m;
    padding-left: $space-m + $space-l;

    &__kicks {
      font-size: 1.5rem;
    }

    &__count {
      display: block;
    }
  }
}
/* mobile */
@media (max-width: 480px) {
  .card {
    grid-template-areas: 
      "logo"
      "title"
      "kicks";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    grid-gap: $space-m;
    padding-right: $space-s;
    padding-left: $space-m + $space-s;

    &::before {
      width: $space-m;
    }

    &__title {
      margin: $space-s;
    }

    &__kicks {
      width: 100%;
      justify-content: space-evenly;
    }
  }
}
