html {
    font-size: 62.5%; /* 10px */
}

body {
    font-size: 1.8rem;
    position: relative;
    color: $typo;
    font-family: "Nunito", Arial, sans-serif; 
    background-color: $primary;
}


/* STRIPPING STYLES */
body, 
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button,
form,
fieldset {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    cursor: pointer;
}

fieldset {
  border: none;
}


.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

// override for Infinite Scroll component's scrollbar showing by default
.scroll {
  overflow: unset !important;
}


// .scroll-to-top {
//   height: 50px;
//   width: 50px;
//   position: sticky;
//   bottom: $space-l;
//   left: $space-l;
// }

